@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/*

font-family: "Work Sans", serif;
font-family: "Crimson Text", serif;

*/

:root {

    --h1: 40px;
    --h2: 32px;
    --h3: 28px;
    --h4: 24px;
    --h5: 20px;
    --h6: 16px;

    --sub: 20px;

    --label: 16px;
    --ls: 5px;
    
    --body: 14px;

    --color-dark-100: rgba(33, 37, 41, 1);
    --color-dark-75: rgba(33, 37, 41, 0.75);
    --color-dark-50: rgba(33, 37, 41, 0.50);
    --color-dark-25: rgba(33, 37, 41, 0.25);

    --color-white-100: rgba(255, 255, 255, 1);
    --color-white-75: rgba(255, 255, 255, 0.75);
    --color-white-50: rgba(255, 255, 255, 0.50);
    --color-white-25: rgba(255, 255, 255, 0.25);

    --color-green-100: rgba(116, 198, 157, 1);
    --color-green-75: rgba(116, 198, 157, 0.75);
    --color-green-50: rgba(116, 198, 157, 0.50);
    --color-green-25: rgba(116, 198, 157, 0.25);



    --font-1 : "Crimson Text", serif;
    --font-2: "Work Sans", serif;
}

/*
? - Blue
! - Red

*/

/**
* ! - Style Rules for Label Text
**/

.label {
    font-family: var(--font-2);
    font-size:  var(--label);
    letter-spacing: var(--ls);
    text-transform: uppercase;
    font-weight: 700;
}

/**
* ? Style Rules for Text Color.
**/

.text-white {
    color: var(--color-white-100);
}

.text-black {
    color: var(--color-dark-100);
}

.text-green {
    color: var(--color-green-100);
}

/**
* ! Style Rules for Button
**/

.white-btn, .dark-btn{
    background-color: var(--color-white-100);
    border: none;
    border-radius: 10px;
    color: var(--color-dark-100);
    font-family: var(--font-2);
    font-size: var(--h5);
    padding: 10px 40px;
}

.dark-btn{
    background-color: var(--color-dark-100);
    color: var(--color-white-100);
}

/**
* ? Removing defaults Styles
**/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/**
* ! Style Rules for Hero Section:
**/
.hero {
    background-color: var(--color-green-100);
}

/**
* ? Style Rules for Navbar
**/
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
}

.navbar__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.navbar__logo--text {
    font-size: var(--h2);
    color: var(--color-white-100);
    font-family: var(--font-2);
    font-weight: 500;
}

.navbar__menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-family: var(--font-2);
    font-size: var(--h5);
}

.navbar__icon {
    display: none;
}

.navbar__icon {
    font-size: var(--h2);
    color: var(--color-white-100);
    cursor: pointer;
}

.hide {
    display: none;
}

[class^="navbar__menu--"] {
    text-decoration: none;
    color: var(--color-white-100);
}

/**
* ! Style Rules For Common Class Name
**/
.text-center {
    text-align: center;
}


.container {
    max-width: 1140px;
    margin: auto;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

.grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 0px;
    gap: 25px;
}

.common-title {
    text-transform: capitalize;
    font-size: var(--h1);
    font-family: var(--font-1);
    font-weight: bold;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/**
* ? Style Rules for MediaQuery
**/

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }

    
}

@media (max-width: 1024px) {
    .container {
        max-width: 740px;
    }
}

@media (max-width: 760px) {
    .container {
        max-width: 500px;
    }

    .navbar__menu {
        z-index: 1;
        position: absolute;
        background-color: var(--color-green-100);
        top: 15vh;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .navbar__menu--1 {
        margin-top: -300px;
    }

    .navbar__icon {
        display: block;
    }

    .hidden {
        z-index: -1;
        opacity: 0;
    }
}

@media (max-width: 568px) {
    .container {
        max-width: 90%;
    }
}